<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--(properties?,settings?,typeAliases?,
    typeHandlers?,objectFactory?,objectWrapperFactory?,
    reflectorFactory?,plugins?,environments?,databaseIdProvider?,
    mappers?)"-->
    <!--映入properties文件，在当前文件中使用${key}的方式访问value-->
    <properties resource="jdbc.properties"/>
<!--    将下划线映射为驼峰-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--设置别名类型-->
    <typeAliases>
        <typeAlias type="com.tly.result.pojo.User" alias="User"/>
        <package name="com.tly.result.pojo"/>
    </typeAliases>
    
    <!--配置链接数据库的环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
<!-- <property name="driver" value="${jdbc.driver}"/>-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
<!--
        <mapper resource="mapper/UserMapper.xml"/>
-->
        <package name="com.tly.result.mapper"/>
    </mappers>
</configuration>